.post-title{
    font-size: 30px;
    font-weight: 600;
    max-width: 600px;
    color: black;
    white-space: pre-line;
}
.postPage{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /* background-color: #eff6f2; */
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 250px;
}
.postImg{
    width: 100%;
   
    /* border: 1px solid #eff6f2; */
    border-radius: 10px;
    margin-top: 40px;
}
.post-body{
    /* padding-top: 30px; */
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 50px;
    white-space: pre-line;
    text-align: justify;
    /* line-height: 35px; */
}
@media screen and (max-width:768px) {
    .post-title{
        font-size: 24px;
       
    }
    .postPage{
        padding-left: 15px;
        padding-right: 15px;
    }
    .postImg{
        width: 100%;
        height: 270px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .post-body{
        padding-right: 20px;
        padding-left: 20px;
        color: black;
        font-size:14px !important;
        font-weight: 400;
    }
}