.service-cards{
    background-color: whitesmoke;
    padding-left: 30px;
    padding-top: 30px;
}

@media screen and (max-width:768px) {
    .service-cards{
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 20px;
    }
}