.categ-banner{
    background-color: rgb(25, 25, 44);
    
    padding-left: 30px;
    min-height: 100vh;
}
.categ-box{
    background-color: whitesmoke;
}
.caateg-banner-img{
    margin-top: 150px;
    height: 400px;
    width: 100%;
}
.categ-text-header{
    font-weight: 600;
    font-size: 30px;
}