.about-banner{
    padding-top: 70px;
    padding-left: 100px;
    background-color: #F8F8F8;
}
.about-bold{
    padding-top: 50px;
    margin-bottom: -15px;
}
.about-line{
    border: 0px;
    background-color:#df8919 ;
    width: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.about-small-text{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
@media screen and (max-width:768px) {
    .about-banner{
        padding-left: 0px;
        padding-top: 40px;
    }
    .about-bold{
        margin-bottom: -15px;
    }
    .about-line{
        margin-bottom: 0px;
    }
    .about-banner-grid{
        text-align: center;
    }
    .about-small-text{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin-top: 30px;
    }
}