.banner1{
    /* background-color: #F8F8F8; */
    background-image: url('../../../../assets//landing-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 70px;
    /* padding-bottom: 40px; */
    font-family: 'Poppins', sans-serif;
    background-color: #eff6f2;
    min-height: 100vh;
}

.big-bold{
    font-family: 'Nunito', sans-serif;
    color: #150325;
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 48px;
   
    /* margin-bottom: 40px; */
    max-width: 500px;
}
#big-bold-1{
    /* color: rgb(199, 192, 192); */
    /* font-weight: 700; */
}
.big-bold-colored{
    color: #8a114d;
}
#big-bold-2{
    /* font-size: 30px; */
}
.small-text{
    /* color: white; */
    font-size: 15px;
    line-height: 20px;
    font-weight: 400 !important;
    margin-top: 25px;
    max-width: 500px;
    
}
.banner-btns{
    margin-top: 50px;
}
.get-started-btn{
    background-color: #cc1571;
    border-radius: 45px;
    /* border: 1px solid #FB9C23; */
    border: 0px;
    color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-weight: 400;
}

.banner1-img{
    height: 500px;
    width:700px;
    margin-top: 20px;
}
.client-name{
    color: #fff;
}
.banner-grid{
    padding-top: 80px;
    /* border: 2px solid red; */
}

@media screen and (max-width:962px) and (min-width:769px){
    .small-colored{
        width: 500px !important;
    }
    .small-text{
        width: 500px !important;
    }
    .banner-btns{
        width: 400px;
    }
}

@media screen and (max-width:768px) {
  
    .small-text{
        font-size: 14px;
        margin-top: 30px;
        font-weight: 600 !important;
        color: black;
    }
    .banner1{
       padding-left: 0px;
       padding-right: 20px;
       /* background-image: url('../../../../assets/bg4.jpg'); */
        background-size: cover;
        /* background-position: 10%; */
       /* opacity: 0.9; */
  
    }
    .banner-grid{
       padding-top: 50px;
       padding-left: 35px !important;
       
        /* text-align: center; */
    }
    .big-bold{
        width: 100%;
        font-size: 35px !important;
        font-weight: 800 !important;
        line-height: 48px;
        padding-right: 20px !important;
        color: black;
        /* font-family: 'Roboto Slab', serif; */
    }
    #big-bold-1{
        max-width: 370px;
        line-height: 48px;
    }
    #big-bold-2{
        max-width: 320px;
    }
    .banner1-img{
        height: 300px;
        width: 400px;
        margin-top: 0px;
    }
    .get-started-btn{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px !important ;
        font-weight: 500;
        min-width: 200px;
        min-height: 50px;
        border-radius: 10px !important;
    }
    
}
