.our-service{
    margin-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
}
/* .what-we-do{
    color: #FB9C23;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
} */
.service-bold{
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .our-service{
        /* padding-left: 40px;
        padding-right: 40px; */

    }
    .service-bold{
        font-size: 30px;
    }
    .what-we-do{
        font-size: 18px;
    }
}