.our-service{
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 250px;
    padding-bottom: 80px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    text-align: justify;
}
.service-light{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 30px;
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;
}
.service-bold{
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}
.text-2{
    border-left: 3px solid #FB9C23 !important;
    
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.Badge{
    /* background-color: #f1b86d; */

    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .our-service{
        padding-left: 30px;
        padding-right: 30px;
        text-align: justify;
        font-weight: 500;
    }
   
    .service-bold{
        font-size: 20px;
        max-width: 140px;
        margin-bottom: 20px;
    }
    .what-we-do{
        font-size: 18px;
    }
    .service-light{
        font-size: 13px !important;
        white-space: pre-line;
        font-weight: 400 !important;

    }
}